*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* GENERIC */
body{
    font-family: 'Montserrat', sans-serif;
}

/* UTILITY */


/* top-content */
.top-content{
    height: calc(100vh - 100px);
    display: flex;
    /* background-color: pink; */
}
.sidebar{
    flex-basis: 100px;
    height: 100% ;
    background-color: blue;
}
/* HEADER */
header{
    height: 100px;
    /* position: fixed;
    top: 0;
    right: 0;
    left: 100px; */

    border: 2px dashed purple;
    background-color: violet;
}
/* MAIN */
main{
    background-color: pink;
    border: 2px dashed red;
    flex-basis: calc(100% - 100px);
}
.contents{
    padding: 20px;
    /* margin: 100px 0; */
    overflow-y: auto;
    height: calc(100% - 100px);
    
}
/* FOOTER */
footer{
    height: 100px;
    background-color: grey;
    /* position: sticky;
    left: 0;
    right: 0;
    bottom: 0; */
}