*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* GENERIC */
body{
    font-family: 'Montserrat', sans-serif;
}

/* UTILITY */


/* top-content */
.top-content{
    height: calc(100vh - 100px);
    display: flex;
    /* background-color: pink; */
}
.sidebar{
    flex-basis: 50px;
    height: 100% ;
    background-color: blue;
}
.icons{
    border: 2px dashed yellow;
}
.titles{
    display: none ;
    border: 2px dashed green;

}
/* HEADER */
header{
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    left: 50px;

    border: 2px dashed purple;
    background-color: rgba(80, 80, 80, 0.5);
}
/* MAIN */
main{
    background-color: pink;
    border: 2px dashed red;
    flex-basis: calc(100% - 50px);


}
.contents{
    padding-top: 100px;

    overflow-y: auto;
    height: 100%;  
}
.navigation{
    border: 1px dashed black;

    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.navigation li{
    padding: 10px;

}
/* FOOTER */
footer{
    height: 100px;
    background-color: grey;
    /* position: sticky;
    left: 0;
    right: 0;
    bottom: 0; */
}
/*********** --RESPONSIVE-- ************/
@media screen and (min-width: 639px) {
    .sidebar{
        flex-basis: 300px;
    }
    header{
        left: 250px;
    }
}